<main>
  <h1>Editing Book</h1>
  <div class="form">
  <%= form_with model:@book, url: update_book_path(@book), local: true do |f| %>
    <% if @book.errors.any? %>
          <p style="color: red;"><%= @book.errors.count %>件のerrorが発生しました</p>
            <% @book.errors.full_messages.each do |message| %>
            <%= message %>
            <% end %>
    <% end %>
        
        <div class="field">
          <p>Title</p>
          <%= f.text_field :title%>
        </div>
        <div class="field">
          <p>Body</p>
          <%= f.text_area :body %>
        </div>
        <div class="field">
          <%=f.submit 'Update Book' %>
        </div>
  <% end %>
  </div>
  
  <p class="link"><%= link_to "Show", book_path(@book.id) %>
  |
  <%= link_to "Back", books_path %></p>
</main>